body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fcefe3;
  color: #333;
}

app-notes-list,
app-notes-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}